                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="footer">
        <div class="title">Cloud Processing Framework</div>
        <div class="footerMenu">
          <ul>
            <li><a href="http://www2.gov.bc.ca/gov/admin/copyright.page" title="COPYRIGHT">COPYRIGHT</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/admin/disclaimer.page" title="DISCLAIMER">DISCLAIMER</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/admin/privacy.page" title="PRIVACY">PRIVACY</a></li>
            <li><a href="http://www2.gov.bc.ca/gov/admin/accessibility.page" title="ACCESSIBILITY">ACCESSIBILITY</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
