<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" name="cpf-api-app">

  <Appenders>
    <Appender type="Console" name="Console">
      <Layout type="PatternLayout" pattern="%d\t%p\t%c\t%m%n" />
    </Appender>
  </Appenders>

  <Loggers>

    <Logger name="ca.bc.gov" level="INFO" />

    <Logger
      name="ca.bc.gov.open.cpf.api.security.oauth.OAuthProcessingFilter"
      level="ERROR" />

    <Logger name="ca.bc.gov.open.cpf.module" level="INFO" />

    <Logger
      name="ca.bc.gov.open.cpf.api.scheduler.BatchJobService"
      level="INFO" />

    <Logger
      name="ca.bc.gov.open.cpf.api.web.service.WorkerServerMessageHandler"
      level="INFO" />

    <Logger name="com.revolsys.maven.MavenRepositoryCache"
      level="INFO" />

    <Root level="ERROR">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>

</Configuration>
