<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
  "
>
  <import resource="classpath:com/revolsys/ui/web/attributes.sf.xml" />

  <import resource="classpath:ca/bc/gov/open/cpf/api/web/security.sf.xml" />

  <bean class="com.revolsys.beans.propertyeditor.ResourceEditorRegistrar" />
  
  <bean
    id="serverRenameFilter"
    class="com.revolsys.ui.web.servlet.ServerOverrideFilter"
    p:serverUrl="#{cpfConfig.baseUrl}" />

  <bean
    id="secureServerRenameFilter"
    class="com.revolsys.ui.web.servlet.ServerOverrideFilter"
    p:serverUrl="#{cpfConfig.secureBaseUrl}" />
</beans>
