<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="FileLog" class="org.apache.log4j.FileAppender">
    <param name="file" value="/apps/apps_log4j/cpf/cpf-app.log" />
    <param name="append" value="false" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d\t%p\t%c\t%m%n"/>
    </layout>
  </appender>

  <logger
    name="ca.bc.gov"
  >
    <level
      value="${ca.bc.gov.cpf.logLevel}" />
  </logger>
  
  <logger
    name="ca.bc.gov.open.cpf.api.security.oauth.OAuthProcessingFilter"
  >
    <level
      value="ERROR" />
  </logger>

  <logger
    name="ca.bc.gov.webade"
  >
    <level
      value="ERROR" />
  </logger>

  <logger
    name="org.springframework"
  >
    <level
      value="DEBUG" />
  </logger>

  <root >
    <level value="ERROR" />
    <appender-ref ref="FileLog"/>
  </root>
</log4j:configuration>
